body {
  background-color: dimgray;
}
a {
  text-decoration: none;
  color: white;
}
header {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px;
}

a:hover {
  color: red;
  transform: scale(1.1);
  text-shadow: 1px 1px 1px darkgray;
}

.page-error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: red;
  font-size: 2rem;
}

.container-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
